{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghost Corps Equipment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/gb">
                <img src="{% static '/img/GC_Logo.png' %}" alt="Ghostbusters logo" width="125" height="70">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/gb">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gb/messages">Current Hauntings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gb/equipment">Join Our Team</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/gb/equipment" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        More Options
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/gb/founding">Meet the Founding members</a></li>
                            <li><a class="dropdown-item" href="/gb/tobins">Tobin's Spirit Guide</a></li>
                            <li><a class="dropdown-item" href="/gb/medicorps">Medi-Corps (Coming soon)</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">More Coming Soon</a></li>
                        </ul>
                    </li>                
                </ul>
                <form class="d-flex">
                    <a class="btn btn-outline-warning" href="/gb/EditPage" role="button" style="margin-right: 10px;">Edit Account  <i class="bi bi-gear"></i></a>
                    <a class="btn btn-outline-danger" href="/logout" role="button">Logout  <i class="bi bi-box-arrow-right"></i></a>
                </form>
            </div>
        </div>
    </nav>
    <div class="background" style="height: 1500px;">
        <div class="d-flex justify-content-center">
            <img src="{% static '/img/GCBanner.png' %}" alt="Ghost Corps banner logo" style="padding-top: 40px;">
        </div>
        <div class="d-flex justify-content-center">
            <h1 style="padding-top: 40px; color: ghostwhite;">Welcome, {{user.first_name}}!</h1>
        </div>
        <br>
            <div class="d-flex justify-content-center">
                <h4 style="color: ghostwhite;">Looking to start your career as a member of the Ghostbusters origanization and join GhostCorps? </h4>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <h4 style="color: ghostwhite;">Do you believe in UFOs, astral projections, mental telepathy, ESP, clairvoyance, spirit photography, 
                telekinetic movement, full trans-mediums, the Loch Ness monster, and the theory of Atlantis? </h4> 
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <h4 style="color:ghostwhite;">Below is just some of the gear use by our Ghostbusters on a daily basis!</h4>
            </div>
            <br>
        <div class="equipment">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/ProtonPack.png' %}" class="card-img-top" alt="Picture of a proton pack">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(214, 0, 0);">Proton Pack</h5>
                    <p class="card-text">Designed in 1984 by Dr. Egon Spengler and Dr. Ray Stantz, the Proton Pack counteres the negative energy of ghosts with a Proton Stream. The Proton Pack, also referred to as a charged particle accelerator, functions by using a miniature cyclotron. A cyclotron is a compact particle accelerator, which in this case is used as a positron collider, smashing together positrons. The Proton Packs are nuclear powered. The power cells of the Proton Pack have a half life of 5,000 years.</p>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Submit Request to Join
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color: red;">Ghostbuster Equipment</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Your request has been submitted to our crew. Thank you.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/Trap2.jpg' %}" class="card-img-top" alt="Picture of a Ghost Trap">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(214, 0, 0);">Ghost Trap</h5>
                    <p class="card-text">The ghost trap, much like all the Ghostbusters gear, was designed by Dr. Egon Spangler and Dr. Ray Stanz. The Trap was designed and built to serve as a a sealed container that allowed the Ghostbusters to safely transport the spirits to the Containment Unit, where they would be released into the grid and stored indefinitely.</p>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Submit Request to Join
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Ghost Trap</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Your request has been submitted to our crew. Thank you.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/PKE.jpg' %}" class="card-img-top" alt="Picture of a PKE Meter">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(214, 0, 0);">PKE Meter</h5>
                    <p class="card-text">The full name of the device is a Psychokinetic Energy Meter, so named because its function is to detect the amounts of said energy and to direct the user to its location. The P.K.E. Meter is one of the oldest inventions and piece of equipment used by the Ghostbusters. It was built before the formation of the Ghostbusters and used by Dr. Spangler, Dr. Stantz, and Dr. Venkman while they were employed by Columbia University. </p>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Submit Request to Join
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">PKE Meter</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Your request has been submitted to our crew. Thank you.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/Ecto-Goggles.jpg' %}" class="card-img-top" alt="Picture of Etco Goggles">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(214, 0, 0);">Ecto Goggles</h5>
                    <p class="card-text">The Ecto Goggles are designed to allow the wearer to see invisible ghosts and visually track P.K.E. valences. A camera function was later added to take standard photographs and photographs related to ectoplasmic activity. On the right side of the Ecto Goggles are a set of buttons, including a red one and a black one, that operates the camera and prints the photograph. The flash unit pops up, the photograph is taken, and then the photograph prints out the left side.</p>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Submit Request to Join
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Ecto Goggles</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Your request has been submitted to our crew. Thank you.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/Slime.jpg' %}" class="card-img-top" alt="Picture of a Slime Blower">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(214, 0, 0);">Slime Blower</h5>
                    <p class="card-text">After the discovery of the River of Slime and the return of the Ghostbusters, experiments were conducted on samples of the Psychomagnotheric Slime. Egon Spengler and Ray learned how to shift the slime to a positive charge and they developed Slime Blower equipment in an effort to weaponize it.</p>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Submit Request to Join
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Slime Blower</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Your request has been submitted to our crew. Thank you.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/containment.jpg' %}" class="card-img-top" alt="Picture of a Ghostbusters containment unit">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(214, 0, 0);">Containment unit (With installation)</h5>
                    <p class="card-text">The storage facility is a concept that Dr. Stantz and Dr. Spengler first theorized when they gathered data during their first close contact with an actual ghost. Assuming that the ionization rate for all ectoplasmic entities remained constant, they calculated that it would be possible to trap and contain a ghost "indefinitely"
                        <br>
                        "Light is green - Trap is clean! Ghost is incarcerated here in our custom-made storage facility."
                    </p>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Submit Request to Join
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Containment Unit</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Your request has been submitted to our crew. Thank you.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/jumpsuit.jpg' %}" class="card-img-top" alt="Picture of a Jumpsuit">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(214, 0, 0);">Jumpsuit (Offical Uniform)</h5>
                    <p class="card-text">The uniforms have the No-Ghost logo, on the right upper arm, and a left breast name tag, displaying the wearer's last name. Elbow pads were also part of the uniform. Common accessories are insulated work gloves and standard-issue lace-up boots.</p>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Submit Request to Join
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Jumpsuit</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Your request has been submitted to our crew. Thank you.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>