.background {
    height: 1290px;
    background-image: url(img/Background1.jpg);
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    color: ghostwhite;
    text-shadow: 2px 2px 2px black;
}