.background {
    height: 1100px;
    background-image: url(img/smoke_BG.jpg);
    background-size: cover;
    background-position-y: center;
}

.equipment {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}